//@import url('https://fonts.googleapis.com/css?family=Roboto+Serif:600.css');

@import 'colors.less';

#app-root-2022-sustainable_fund .app {
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: auto auto;
  max-width: 1000px;
  table {
    border-spacing: 0;
    margin-bottom: 20px;
    thead {
      tr {
        th {
          font-size: 16px;
          font-weight: 700;
          padding: 5px;
        }
        &.header {
          th {
            border: 1px solid #ccc;
          }
          background-color: #009edb;
          color: #fff;
        }
        &.search {
          background-color: #fff;
          color: #000;
          text-align: left;
          th {
            padding-bottom: 10px;
            input {
              border-color: #ccc;
              border-style: solid;
              border-width: 0 0 1px 0;
              font-size: 1.1rem;
              outline: none;
            }
          }
        }
      }
    }
    tbody {
      tr {
        td {
          border: 1px solid #ccc;
          font-size: 14px;
          padding: 5px;
          .alert {
            color: #f00;
          }
          .sub_component_row {
            margin-bottom: 5px;
            .label {
              color: #000;
              font-weight: bold;
              padding: 0;
            }
            .value {
            }
            p {
              margin: 0;
            }
          }
        }
      }
    }
  }
}

@import 'basics.less';